<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.orm.mapper.ConcertMapper">

    <select id="selectAvailableSeatByConcertId" resultType="java.lang.Integer">
        SELECT available_seat
        FROM concert
        WHERE concert_id = #{concertId};
    </select>

    <update id="decrementAvailableSeatByConcertId">
        UPDATE concert
        SET available_seat = available_seat - 1
        WHERE concert_id = #{concertId}
        AND available_seat > 0;  <!-- 確保不會減少到負數 -->
    </update>

</mapper>
